.chatList {
  flex: 1;
  overflow: auto; /* Use 'auto' to show scrollbar only when necessary */

  /* Styling for search section */
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    /* Styling for search bar */
    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    /* Styling for add button */
    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  /* Styling for chat items */
  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35; /* Adjust border color */
  
   img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
   }

   .texts{
      display: flex;
      flex-direction: column;
      gap: 10px;

      span{
         font-weight: 500px;
      }

      p{
         font-size: 14px;
         font-weight: 300;
      }
   }

   }

  /* Modern scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #000 transparent; /* Thumb color and track color */

  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #000; /* Color of the scrollbar thumb */
    border-radius: 8px; /* Radius of the thumb */
    border: transparent; /* Border of the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #333; /* Color of the thumb on hover */
  }
}
